// @import 'bourbon/bourbon';
.tx-openlabs {
	#map{
		width: 100% !important;
		height: 500px !important;
		// @include box-shadow(0 0 5px rgb(234, 234, 234));
		border: 1px solid #fff;
		// position: absolute !important;
		//GOOGLE MAPS & BOOTSTAP FIX
		img { 
		  max-width: none;
		}
		label { 
		  width: auto; display:inline; 
		} 
		// END GOOGLE MAPS & BOOTSTAP FIX
	}//map
}