<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Yeah!</title>
</head>
<body>
	
	<h1>Mein Orte</h1>
	<form id="addOrt" action="">
		<input type="text" name="" id="" placehodler="neuer Ort">
		<input type="submit" value="neuer Ort">
	</form>
	<script type="text/template" id="ortTemplate">
	<strong><%= title %></strong> ( Lat: <%= lat %> - Lon: <%= lon %>) <button>Delete</button>
	</script>

	<script  src="js/underscore.js"></script>
	<script  src="js/jquery.js"></script>
	<script  src="js/backbone.js"></script>
	<script  src="js/main.js"></script>
</body>
</html>	