<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Yeah!</title>
	<script src='http://maps.google.com/maps/api/js?sensor=true'></script>
	<script src='js/gmaps.js'></script>
	<link rel="stylesheet" href="css/main.css" media="all">

</head>
<body>
<div id="mapAPP">
	<div class="container">
	<div id="controls">

	<div class="navbar navbar-fixed-top"><div class="navbar-inner">
		<div class="container">
			<div class="row-fluid">
				<div class="span1">
					<label class="filterLabel" for="">Filter:</label>
				</div>
				<form id="filterLocations" class="navbar-form span11 form-inline">
					<script type="text/template" id="filterTemplate">
						<option value='<%= optionName %>'><%= optionName %></option>
					</script>
					<input type="text" id="searchTitle" class="search-query span4" placeholder="search">
					<button class="btn reset">Reset</button>
				</form>
			
			</div><!-- row -->
		</div><!-- container -->
	</div></div><!-- navbar -->
	
	</div> <!-- controls -->
	<div id="map" style="width:100%; height:100%;"></div>

	<div id="locationsView">
		<script type="text/template" id="locationTemplate">
		<img src='<%= logo %>' alt='<%= title %>' title='<%= title %>' width='50px' height='50px'>
		<h2><span><%= title %></span></h2>
		<ul>
			<% if (filterable.City) { %>
				<li><strong>City:</strong><%= filterable.City %></li>
			<% } %>
			<% if (filterable.InnovationArea) { %>
			<li><strong>InnovationArea:</strong><%= filterable.InnovationArea %></li>
			<% } %>
			<% if (filterable.LocationType) { %>
			<li><strong>LocationType: </strong><%= filterable.LocationType %></li>
			<% } %>
			<% if (filterable.Services) { %>
			<li><strong>Services: </strong><%= filterable.Services %></li>
			<% } %>
			<% if (link) { %>
			<li><strong>link:</strong><%= link %></li>
			<% } %>
		</ul>
		( Lat: <%= lat %> - Lon: <%= lon %>) 
		<button>Delete</button>
		
		</script>
	</div><!-- orteView -->
	<div id="mapActions">
		<form id="addLocation" class="form-inline">
			<input type="text" class="span2 title" placeholder="Title">
			<input type="text" class="span2 lat" placeholder="Latitude">
			<input type="text" class="span2 lon" placeholder="Longlitude">  
			<button type="submit" class="btn">Add Location</button>
			<a href="#" class="btn" id="showAll"><i class="icon-eye-open"></i>Show All Markers</a>			
			<a href="#" class="btn" id="removeAll"><i class="icon-eye-close"></i> Remove All Markers</a></div>
		</form>
	</div><!-- mapActions -->

	</div><!-- Container -->
	</div> <!-- mapAPP -->



	<script  src="js/underscore.js"></script>
	<script  src="js/jquery.js"></script>
	<script  src="js/backbone.js"></script>
	<script  src="js/deep-model.min.js"></script>
	<script  src="js/backbone-validation.js"></script>
	<!--  <script  src="js/backbone-query.min.js"></script> -->
	<script  src="js/backbone-query.min.js"></script>
	<script  src="js/query-engine.js"></script>	
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
	<script  src="js/main.js"></script>

</body>
</html>		